@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --button-gradient-from: #963488;
  --button-gradient-via: #fc6f32;
  --button-gradient-to: #ff4a59;
  --radius-large: 91px;
}

@theme {
  --font-family-inter: Inter;
  --font-family-grotesk: ClashGrotesk;
  --font-family-metrophobic: Metrophobic;

  --color-white: white;
  --color-gray: #808080;
  --color-light-gray: #8f99b0;
  --color-dark-gray: #606060;
  --color-dark-gray-2: #8e8e8e;
  --color-light-green: #40ff75;
  --color-light-red: #ff1b44;
  --color-soft-black: #090a0e;
  --color-light-black: #161A24;

  --color-h1-gradient-start: #b53ea4;
  --color-h1-gradient-via: #fc6f32;
  --color-h1-gradient-to: #ff4a59;

  --color-table-even-row: #c9d9ff14;

  --color-button-gradient-from: var(--button-gradient-from);
  --color-button-gradient-via: var(--button-gradient-via);
  --color-button-gradient-to: var(--button-gradient-to);
  --color-button-font-color: var(--color-white);
  --color-button-disabled: var(--color-gray);

  --text-font-size-button--small: 18px;
  --text-font-size-button-big: 24px;
  --text-font-size-h1: 128px;
  --text-font-size-h2: 64px;
  --text-font-size-h3: 48px;
  --text-font-size-p: 24px;
  --text-font-size-p-small: 20px;

  --spacing-gap-button-small-b: 16px;
  --spacing-gap-button-small-t: 14px;
  --spacing-gap-button-small-x: 32px;
  --spacing-gap-button-big-b: 24px;
  --spacing-gap-button-big-t: 22px;
  --spacing-gap-button-big-x: 48px;
  --spacing-gap-button-arrow: 16px;
  --spacing-page-x: 80px;

  --radius-button-radius: var(--radius-large);
}
